{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }} {% endblock %}
{% block content %}
{% load thumbnail %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    {% include "included/author.html" with author=author %}
            </div>

            <div class="col-md-9">
                {% for post in page %}
                    {% include "included/post_item.html" with post=post %}
                <!-- Конец блока с отдельным постом -->
                {% endfor %}
                <!-- Остальные посты -->
                {% if page.has_other_pages %}
                    {% include "skeleton/paginator.html" with items=page paginator=paginator %}
                {% endif %}
                <!-- Здесь постраничная навигация паджинатора -->
            </div>
    </div>
</main>
{% endblock %}